html,
body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.departements :hover {
  fill: red;
}

.departements{
  stroke: #aaa;
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
